a{
  text-decoration: none;
  color: #000000;
}
div.brand{
  margin-top: 15px;
}
img.logo{
  float:left;
}
div.title{
  float: left;
}
div.title h1{
  font-size: 20px;
  margin-top: 7px;
  margin-left: 15px;
}
div.App{
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
div.posts-list{
  clear: both;
}
div.list-header{
  text-align: center;
  padding-bottom: 25px;
}
div.list-header span.today{
  font-size: 20px;
  color: #534540;
  font-weight: 600;
}
div.list-header span.date{
  color:#bbb;
  font-size: 14px;
}
div.overlay{
    bottom: 0;
    left: 0;
    opacity: .8;
    right: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    position: fixed;
    height: 100%;
    background: white;
}
div.product{
  -webkit-transition: background-color,.1s,ease;
    -moz-transition: background-color,.1s,ease;
    transition: background-color,.1s,ease;
    background-color: #f3f3f9;
    border-radius: 4px;
    float: left;
    height: 325px;
    margin: 10px;
    padding: 10px;
    width: 300px;
}
div.product:hover{
  background-color: #eeeef5;
  cursor: pointer;
}
div.product div.image{
    height: 196px;
    margin: 0 auto;
    /*width: 280px;*/
}
div.product div.image img{
  height: 100%;
  width: 100%;
}
div.product-info{
  width: 70%;
  /*margin: 0 auto;*/
  float: left;
}
div.product-info h4{
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}
span.tagline{
  font-size: 14px;
  margin-top: -20px;
}
div.makers{
  font-size: 14px;
}
div.upvotes{
  float:left;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  /*margin-right: 20px;*/
  margin-top: 15px;
  /*margin-left: 10px;*/
  text-align: center;
  width: 15%;
}
div.upvotes span.icon-upvote{
  font-size: 10px;
  color: #a299d8;
}
div.comments{
  cursor: pointer;
  float: left;
  margin-top: 18px;
  font-size: 13px;
  font-weight: 600;
  color: #b5b1c7;
  width: 15%;
  /*margin-left: 5px;*/
}
div.comments span.icon-comment-fill{
  font-size: 15px;
  color: #b5b1c7;
}
div.comments span.comment-count{
  margin-left: 8px;
  position: relative;
  top: -3px;
}
div.SidePanel{
  text-align: center;
  color: #bdc3c7;
}
div.SidePanel h3{
  color:black;
}
div.close-button{
  cursor: pointer;
  background: #e7e6e8;
  color: #aaa5a5;
  width: 35px;
  height: 32px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
}
div.close-button:hover{
  background: #796bdf;
  color: #ffffff;
}
div.get-it{
  cursor: pointer;
  margin: 25px auto;
  padding: 16px 15px;
  border: 1px solid #ecf0f1;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 600;
}
div.get-it:hover{
  background-color: #ecf0f1;
}
div.upvote-it{
  cursor: pointer;
  margin: 25px auto;
  padding: 16px 15px;
  border: 1px solid #ecf0f1;
  background-color: #da552f;
  font-size: 14px;
  font-weight: 600;
  color:#ffffff;
  width: 150px;
  border-radius: 4px;
}
div.upvote-it span.icon-upvote{
    font-size: 10px;
    top: -1px;
    margin-right: 8px;
    position: relative;
}
div.upvote-it a{
  color: #ffffff;
}
div.upvote-it span.votes-count{
  color: #e8927c;
}
img.screenshot{
  max-width:90%;
}
span.topic{
  color: #9a9a9a;
  background-color: #f9f9f9;
  padding: 3px;
  margin: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
}

/*Loading animation*/
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
