@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sm5ghu');
  src:  url('fonts/icomoon.eot?sm5ghu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sm5ghu') format('truetype'),
    url('fonts/icomoon.woff?sm5ghu') format('woff'),
    url('fonts/icomoon.svg?sm5ghu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-panel:before {
  content: "\e900";
}
.icon-comment-fill:before {
  content: "\e901";
  color: #b2b1b9;
}
.icon-upvote:before {
  content: "\e902";
}
